@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-forward {
  animation: forward 2s ease-in-out infinite;
}

@keyframes forward {
  0% { transform: translateZ(0); }
  100% { transform: translateZ(300px); }
}
